html,
body {
  height: 100%;
  width: 100%!important;
}

html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: #000;
}

header table {
  width: 100%;
}

.mui-appbar{
  background-color: #1CABE2 !important;
}

.add-btn{
  float: right;
  padding: 10px;
}

.search-section{
  margin-top:30px;
}

.locations-col{
  padding-top:30px;
  overflow:scroll;
  height: 700px;
}

.locations-map{
  padding-top:30px;
  height: 100%;
}

.location-card{
text-decoration: none;}

.location-title{
  padding: 10px;
}

.location-data{
text-align: left;
font-size: 1rem;
}

.location-data:first-child {
  border-right: 1px solid #e0e0e0;
  color: #6c757d;
}

@media only screen and (max-width: 768px) {
  .location-data:first-child {
    border-right: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }
}

.card {
  border: none !important;
  margin-bottom: 30px;
}

.card:hover{
  background-color: #1CABE2;
}

.card-body{
  background-color: #fafafb;
}

footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #fafafb;
  padding-top: 35px;
  bottom: 0;
  width:100%;
}

.no-link-style, .no-link-style:hover, .no-link-style:visited {
  text-decoration: inherit;
  color: inherit;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}